<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Contest anywhere</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile.min.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile.structure.min.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile.theme.min.css" />
	<link rel="stylesheet" type="text/css" href="css/application.css" />
</head>
<body>
	<div id="win-won-page" data-role="page">
		<header data-role="header">
			<a href="#" data-ajax="false" data-rel="back" data-icon="back" data-theme="b" data-iconpos="notext" class="sign-out-btn">Back</a>
			<h1>Won</h1>
		</header>
		<section data-role="content">
			<ul id="won-contest-list" data-role="listview" data-inset="true">
			</ul>
		</section>
		<footer data-role="footer" data-position="fixed">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="index.html#play" data-ajax="false" data-iconpos="top" data-icon="grid">Play</a>
					</li>
					<li>
						<a href="index.html#win" data-ajax="false" data-iconpos="top" data-icon="forward" class="ui-btn-active ui-state-persist">Win</a>
					</li>
					<li>
						<a href="index.html#profile" data-ajax="false" data-iconpos="top" data-icon="info">Profile</a>
					</li>
				</ul>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="scripts/utils.js"></script>
	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).bind("mobileinit", function () {
			$.support.cors = true;
			$.mobile.allowCrossDomainPages = true;
		});
	</script>
	<script type="text/javascript" src="scripts/jquery.mobile.min.js"></script>
	<script type="text/javascript" src="scripts/detectmobilebrowser.js"></script>
	<script type="text/javascript" src="scripts/jquery-tmpl.min.js"></script>
	<script id="won-contest-tmpl" type="text/x-jquery-tmpl">
		<li data-role="list-divider">${title}</li>
		<li>
			{{if prize}}
			<h3>
				<span>${prize.name}</span>
				{{if prize.prizeTypeId}}
				<span>- ${prize.prizeTypeId.type}</span>
				{{/if}}
			</h3>
			{{/if}}
			<p class="ui-li-desc">
				<strong>
					<span class="red">Categories: </span>
				</strong>
				<span>${$item.formatCategories($item.data)}</span>
			</p>
		</li>
	</script>
	<script type="text/javascript">
		tools.checkAccess();

		$('#win-won-page').live('pageinit', function () {
			var userId = tools.getUserId();
			$.getJSON(tools.ApiURI() + '/contest/won?userid=' + userId, function (contests) {
				$('#won-contest-tmpl').tmpl(contests, {
					formatCategories: function (contest) {
						var categories = '';
						if (contest.categories != null) {
							for (var i = 0; i < contest.categories.length; i++) {
								categories += contest.categories[i].name;
								if (i < contest.categories.length - 1) {
									categories += ', ';
								}
							}
						}

						return categories;
					}
				}).appendTo('#won-contest-list');
				$('#won-contest-list').listview('refresh').trigger('create');

				$.mobile.loading('hide');
			});
		});

		$('#win-won-page').live('pageshow', function () {
			$.mobile.loading('show');
		});
	</script>
</body>
</html>
